<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de Contraseña</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Cambio de Contraseña</h2>
        
        <form th:action="@{/guardarModificacionUser}" method="post" id="passwordChangeForm" th:object="${user}">
            <div class="form-group">
                <label for="password">Nueva Contraseña:</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" required th:field="*{password}">
                    <div class="input-group-append">
                        <span class="input-group-text toggle-password"
                            onclick="togglePasswordVisibility()">
                            <i id="toggleIcon" class="fa fa-eye"></i>
                            <script src="../../static/js/mostrarContraseña.js"></script>
                        </span>
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger" role="alert">
                    <span th:errors="*{password}">La contraseña es inválida.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Repetir Contraseña:</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required/>
                    <div class="input-group-append">
                        <span class="input-group-text toggle-password"
                            onclick="togglePasswordVisibility()">
                            <i id="toggleIcon" class="fa fa-eye"></i>
                            <script src="../../static/js/mostrarContraseña.js"></script>
                        </span>
                    </div>
                </div>
                <div id="confirmPasswordError" class="alert alert-danger" role="alert" style="display: none;">
                    Las contraseñas no coinciden.
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="submitButton" disabled>Cambiar Contraseña</button>
        </form>
    </div>

    <script>
        // Obtener referencias a los campos de contraseña y al botón de enviar
        const passwordField = document.getElementById('password');
        const confirmPasswordField = document.getElementById('confirmPassword');
        const submitButton = document.getElementById('submitButton');
        const confirmPasswordError = document.getElementById('confirmPasswordError');

        // Función para verificar si las contraseñas coinciden y habilitar o deshabilitar el botón de enviar
        function checkPasswords() {
            const password = passwordField.value;
            const confirmPassword = confirmPasswordField.value;

            if (password === confirmPassword && password.length > 0) {
                submitButton.disabled = false;
                confirmPasswordError.style.display = 'none';
            } else {
                submitButton.disabled = true;
                if (confirmPassword.length > 0) {
                    confirmPasswordError.style.display = 'block';
                } else {
                    confirmPasswordError.style.display = 'none';
                }
            }
        }

        // Agregar eventos de escucha para cambios en los campos de contraseña
        passwordField.addEventListener('input', checkPasswords);
        confirmPasswordField.addEventListener('input', checkPasswords);
    </script>
</body>
</html>
