<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Tarjeta Usuario</title>
  <link rel="icon" type="image/png" href="../../static/img/EscudoPatinalon.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Arial:wght@400;700&display=swap" />
  <!-- Cosas Barra de navegación -->
  <link rel="stylesheet" href="../../static/css/estilosNavBar.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
</head>
<body>
  <header>
		<div class="row" th:replace="~{BarraNavegacion :: menuSuperior}"></div>
	</header>

  <div class="container"> 
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">Detalle del Usuario</h2>
        <span><strong>Username: </strong><span th:text="${usuario.usuario}">nombre</span></span><br>
        <span><strong>Password: </strong><span th:text="${usuario.password}">contraseña</span></span><br>
        <span><strong>Rol: </strong><span th:text="${usuario.rol?.nombre}">Equipo </span></span><br>
        <div class="mt-4 d-flex justify-content-between">
          <span><a th:href="@{~/usuarios}" class="btn btn-secondary">Atrás</a></span>
          <span><a th:href="@{~/usuario/edit/{nombre}(nombre = ${usuario.usuario})}" class="btn btn-primary ml-2" sec:authorize="hasAuthority('ADMIN')">Editar</a></span>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
