<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todas los Usuarios</title>
	<link rel="icon" type="image/png" href="../../static/img/EscudoPatinalon.png" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Arial:wght@400;700&display=swap" />
	<!-- Cosas Barra de navegación -->
	<link rel="stylesheet" href="../../static/css/estilosNavBar.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
		rel="stylesheet">
	<!-- Estilos Barra inferior -->
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/estilosMenuInferior.css">
	<style>
		.error-message {
			color: red;
			font-size: 1.2em;
		}
	</style>
</head>
<body>
	<header>
		<div class="row" th:replace="~{BarraNavegacion :: menuSuperior}"></div>
	</header>
	<main class="content">
		<div class="container mt-5">
			<h2 class="text-start mb-4">Lista de Usuarios
				<a class="btn btn-warning float-right m-2" th:href="@{~/usuario/add}"
					th:if="${not #lists.isEmpty(usuarios)}">Añadir Usuario</a>
			</h2>
			<div th:if="${error != null}" class="error-message" th:text="${error}">Mensaje de error</div>
			<div th:if="${#lists.isEmpty(usuarios)}">
				<h3>La tabla de Usuarios esta vacia, Añada usted al primer Usuario</h3>
				<a class="btn btn-warning float-right m-2" th:href="@{~/usuario/add}">Añadir Usuario</a>
			</div>
			<table class="table table-striped table-hover" th:if="${not #lists.isEmpty(usuarios)}">
				<thead>
					<tr>
						<th>Contraseña</th>
						<th>Nombre</th>
						<th>Contraseña</th>
						<th>Rol</th>
						<th>Ver</th>
						<th sec:authorize="hasAuthority('ADMIN')">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c:${usuarios}">
						<td th:text="${c.email}">ejemplo@gmail.com</td>
                        <td th:text="${c.usuario}">Ampeter77</td>
						<td th:text="${c.password}">25dvsdv5sg8)%%/</td>
						<td th:text="${c.rol?.nombre}">rol 1</td>
						<td><a class="circular-button edit-button text-decoration-none" title="Edita"
								th:href="@{~/usuario/{nombre}(nombre=${c.email})}">👁️</a></td>
						<td sec:authorize="hasAuthority('ADMIN')"><a
								class="circular-button delete-button text-decoration-none" title="Eliminar"
								th:href="@{~/usuario/del/{nombre}(nombre=${c.email})}"
								sec:authorize="hasAuthority('ADMIN')">❌</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>