body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 0;
}

.cuadrado {
    margin-top: 20px;
}

.tarjeta {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
}

.imagen-tarjeta {
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

.contenido-tarjeta {
    flex: 1;
}
.wrapped-paragraph {
    max-width: 300px; /* Cambia este valor al ancho máximo deseado */
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.contenido-tarjeta .btn-warning {
    transition: transform 0.5s, background-color 1s, color 1s;
}
.contenido-tarjeta .btn-warning:hover {
    transform: scale(1.2);
}
.footer {
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}
