.carousel-control-prev-icon {
    background-color: red;
    padding: 20px;
    border-radius: 50%;
}
.carousel-control-next-icon {
    background-color: red;
    padding: 20px;
    border-radius: 50%;
}