/* Estilos para cuando no hay que hacer scroll */
html {
    overflow-x: hidden;
}

.footer {
    background-color: #d41a1e;
    color: white; /* Cambiado el color del texto a blanco */
    padding: 2vh;
    margin-top: 2vh;
    width: 100%;
    height: auto; /* Cambiado de altura fija a altura automática */
}

.social-icons {
    display: flex;
    justify-content: center;
}

.bordeIconos {
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
    border: white 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    text-decoration: none;
}

.iconos {
    color: white;
    font-size: large;
    text-decoration: none;
}
iframe{
    margin-bottom: 5%;
}
.informacion{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
}

/* Estilos para los párrafos de información en la parte izquierda */
.col-md-6 p {
    margin-bottom: 10px;
}

/* Estilos para el formulario de contacto en la parte derecha */
.col-md-6 form {
    margin-top: 20px;
}

.col-md-6 form .form-group {
    margin-bottom: 15px;
}

.col-md-6 form .btn-primary:hover {
    background-color: #159620; /* Cambiado el color de fondo del botón al pasar el mouse */
    border-color: #ede510; /* Cambiado el color del borde del botón al pasar el mouse */
}
