body {
    overflow-x: hidden;
}

.cuadrado {
    margin-top: 20px;
}

.tarjeta {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
}

.imagen-tarjeta {
    flex: 0 0 auto;
    width: 150px;
    /* Ajusta el tamaño de la imagen */
    height: 150px;
    /* Ajusta el tamaño de la imagen */
    margin-right: 10px;
}

.contenido-tarjeta {
    flex: 1;
}

.boton-tarjeta {
    display: block;
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}