/* Elimina el margen por defecto del body */
body {
    margin: 0;
}

/* Oculta el scrollbar */
::-webkit-scrollbar {
    width: 0;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contenedorBotones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.categoria-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e1e1e1;
    margin: 2vh;
}

.categoria-button img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
