/*Ajustes de la scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  position: absolute;
  z-index: 0;
}

::-webkit-scrollbar-track {
  background-color: hidden;
}

::-webkit-scrollbar-thumb {
  background-color: #d41a1e;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}
/*Ajustes de la barra en general*/
body{
  width: 100%;
  overflow-x: hidden;
}
.carousel-control-prev-icon {
    background-color: #d41a1e;
    padding: 2.5vh;
    border-radius: 50%;
}
.carousel-control-next-icon {
    background-color: #d41a1e;
    padding: 2.5vh;
    border-radius: 50%;
}

.custom-card {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-card img {
    width: 100%;
    height: auto;
    max-width: 300px;
    height: 200px;
    transition: transform 0.5s;
  }
  .custom-card:hover img {
    transform: scale(1.1);
  }
  .custom-card .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
  }
  .custom-card:hover .card-overlay {
    opacity: 1;
  }
  .custom-card .card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    z-index: 1;
  }

  .contenedorPatrocinadores{
    margin-top:7.5vh;
    margin-bottom:7.5vh;
    padding: 3ch;
    background-color: rgb(140, 253, 140);
    padding: 3px 10px;
    border: red 10px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .tituloPatrocinadores{
    margin: 2.5vh;
  }
  .card-title{
    color: black;
    font-weight: bold;
    text-decoration:underline;
  }
  