body {
    margin: 0;
    padding: 0;
    background-image: url("../img/Foto Sara.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
main.container{
    margin: 0;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.titulo{
    color: white;
    font-size: 5vh;
}

.listaBotones {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
}

.listaBotones .btn {
    position: relative;
    font-size: xx-large;
}

.listaBotones .btn {
    position: relative;
    font-size: 20px;
    margin-bottom: 1vw;
    border-radius: 2.5px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
}
@media (max-width: 768px) {
    .listaBotones .btn {
        width: 50%;
        height: auto;
        font-size: large;
    }
    .titulo{
        color: white;
    }   
}
