.bg-red {
    background-color: #d41a1e;
    color: white;
}
a{
    font-family: "Open Sans";
}
.iconoNavegacion{
    font-size: 16px;
}
.dropdown-user{
    margin-right: 1vh;
}
body {
    padding-top: 56px;
}

@media (min-width: 992px) {
    body {
        padding-top: 72px;
    }
}