<nav class="navbar navbar-expand-lg navbar-light bg-red fixed-top" th:fragment="menuSuperior">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/static/img/EscudoPatinalon.png}" width="30" height="30"
            class="d-inline-block align-top imgNavBar" alt="Escudo">
    </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <div class="nav-item">
                <a class="nav-link iconoNavegacion" th:href="@{/}">Inicio</a>
            </div>
            <li class="nav-item">
                <a class="nav-link iconoNavegacion" th:href="@{/nuestrosEquipos}">Nuestros Equipos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link iconoNavegacion" th:href="@{/torneo}">3x3 Sara Roces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link iconoNavegacion" th:href="@{/links}">Enlaces</a>
            </li>
            <li class="nav-item dropdown" id="dropdownMenu"
                sec:authorize="hasAuthority('ADMIN') || hasAuthority('AUTORIZADO')">
                <a class="nav-link btn iconoNavegacion" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Admin:
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="nav-link navbar-light" th:href="@{/jugadores}">Jugadores</a>
                    <a class="nav-link navbar-light" th:href="@{/equipos}">Equipos</a>
                    <a class="nav-link navbar-light" th:href="@{/categorias}">Categorias</a>
                    <a class="nav-link navbar-light" th:href="@{/partidos}">Partidos</a>
                    <a class="nav-link navbar-light" th:href="@{/usuarios}"
                        sec:authorize="hasAuthority('ADMIN')">Usuarios</a>
                    <a class="nav-link navbar-light" th:href="@{/estadisticas}">Estadisticas</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li sec:authorize="!isAuthenticated()">
                <a class="btn btn-warning" th:href="@{/login}">Iniciar Sesión / Registrarse</a>
            </li>
            <li class="nav-item dropdown" id="dropdownMenu"></li>
                <a class="nav-link btn btn-warning" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" sec:authorize="isAuthenticated()">
                    <span>¡Hola, <span th:text="${#authentication.name}"></span>! <span class="arrow">&#9660;</span></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-user" aria-labelledby="navbarDropdown">
                    <a class="nav-link navbar-light" th:href="@{/tarjetaUsuario}">Detalle Usuario</a>
                    <a class="nav-link navbar-light" th:href="@{/logout}">Cerrar Sesion</a>
                </div>
            </li>
        </ul>
    </div>
</nav>