<footer th:fragment="menuInferior" class="footer text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-6 informacion">
              <p>&copy; 2024 CD Patinalon. Todos los derechos reservados.</p>
              <p>Ubicación: Dirección, Ciudad, País</p>
              <p>Teléfono: +123456789</p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.0232999589016!2d-5.694738823483225!3d43.313771674317486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd365ff7a4562d33%3A0x25f6015095ec2ce!2sPolideportivo%20Municipal%20de%20la%20Felguera!5e0!3m2!1ses!2ses!4v1717348027198!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              <div class="row">
                <div class="col-md-12">
                    <div class="social-icons">
                        <a href="https://www.youtube.com/" target="_blank" class="social-icon bordeIconos"><i class="icon-facebook2 iconos" style="color: white;"></i></a>
                        <a href="#" class="social-icon bordeIconos"><i class="icon-instagram iconos" style="color: white;"></i></a>
                        <a href="#" class="social-icon bordeIconos"><i class="icon-youtube iconos" style="color: white;"></i></a>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
              <form netlify>
                  <div class="form-group">
                      <label for="nombre">Nombre:</label>
                      <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                  </div>
                  <div class="form-group">
                      <label for="email">Correo electrónico:</label>
                      <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico">
                  </div>
                  <div class="form-group">
                      <label for="mensaje">Mensaje:</label>
                      <textarea class="form-control" id="mensaje" rows="3" placeholder="Ingrese su mensaje"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
          </div>
      </div>
  </div>
</footer>
