<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Equipos</title>

    <!-- Cosas Barra de navegación -->
    <link rel="stylesheet" href="../../static/css/estilosNavBar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <!-- Estilos Barra inferior -->
    <link rel="stylesheet" href="../../static/css/estilosMenuInferior.css">
</head>
<body>
    <header>
        <div class="row" th:replace="~{BarraNavegacion :: menuSuperior}"></div>
      </header>
    <h1>Nuestros Equipos</h1>
    <footer th:replace="~{MenuInferior :: menuInferior}"></footer>
</body>
</html>