<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Torneo 3x3 Sara Roces</title>

  <link rel="icon" type="image/png" href="../static/img/EscudoPatinalon.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Arial:wght@400;700&display=swap" />
  <!-- Cosas Barra de navegación -->
  <link rel="stylesheet" href="../../static/css/estilosNavBar.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
  <!-- Estilos Barra inferior -->
  <link rel="stylesheet" href="../static/css/style.css" />
  <link rel="stylesheet" href="../static/css/estilosMenuInferior.css" />
  <!-- Estilos Torneo-->
  <link rel="stylesheet" href="../../static/css/estilosTorneo.css" />
</head>

<body>
  <header>
    <div class="row" th:replace="~{BarraNavegacion :: menuSuperior}"></div>
  </header>

  <main class="container">
    <h1 class="titulo">Torneo 3x3 Sara Roces</h1>
    <div class="contenido">
      <div class="listaBotones">
        <a type="button" class="btn btn-warning" th:href="@{~/inscripcion/equipo}">INSCRIPCIÓN</a>
        <a type="button" class="btn btn-warning" th:href="@{~/torneo/categorias}" style="text-decoration: none;">CLASIFICACIÓN</a>
        <a type="button" class="btn btn-warning">HISTORIA</a>
      </div>
    </div>
  </main>

  <footer class="footer">
    <p>&copy; 2024 CD Patinalon. Todos los derechos reservados.</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>